%h2
  - if @user.avatar.attached?
    = image_tag @user.avatar.variant(resize_to_fill: [200, 200])
  = @user.name

.profile
  %p
    = "#{User.human_attribute_name(:email)}: "
    = @user.email

.profile
  %p
    = "#{User.human_attribute_name(:biography)}: "
    = @user.biography || "-"

.profile
  %p
    = "#{User.human_attribute_name(:zip_code)}: "
    = @user.zip_code || "-"

.profile
  %p
    = "#{User.human_attribute_name(:address)}: "
    = @user.address || "-"

= link_to(edit_user_registration_path,
          id: "user-registration-link") do
  = t('nav.edit')
= button_to(t('nav.sign_out'),
            destroy_user_session_path,
            method: :delete)
