- i18n_devise_scope = 'devise.passwords.edit'

%h2
  = t('', scope: i18n_devise_scope)
= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
  = render "devise/shared/error_messages", resource: resource
  = f.hidden_field :reset_password_token
  .field
    = f.label :password, t('new_password', scope: i18n_devise_scope)
    %br/
    - if @minimum_password_length
      %small
        = t('minimum_password_length', scope: 'devise.shared', count: @minimum_password_length)
      %br/
    = f.password_field :password, autofocus: true, autocomplete: "new-password"
  .field
    = f.label :password_confirmation, t('confirm_new_password', scope: i18n_devise_scope)
    %br/
    = f.password_field :password_confirmation, autocomplete: "new-password"
  .actions
    = f.submit t('change_your_password', scope: i18n_devise_scope)

= render "devise/shared/links"
