%h1
  = t('.page_title')

%table
  %thead
    %tr
      %th= Book.human_attribute_name(:title)
      %th= Book.human_attribute_name(:memo)
      %th= Book.human_attribute_name(:author)
      %th= Book.human_attribute_name(:picture)
      %th
      %th
      %th

  %tbody
    - @books.each do |book|
      %tr
        %td= book.title
        %td= book.memo
        %td= book.author
        %td= book.picture
        %td= link_to t('nav.show'), book
        %td= link_to t('nav.edit'), edit_book_path(book)
        %td
          = link_to(t('nav.destroy'),
                    book,
                    method: :delete,
                    data: { confirm: t('nav.destroy_confirm') })

%br

= paginate @books

= link_to t('nav.new'), new_book_path
