%p#notice= notice

%p
  %b Title:
  = @book.title
%p
  %b Memo:
  = @book.memo
%p
  %b Author:
  = @book.author
%p
  %b Picture:
  = image_tag @book.picture_url if @book.picture.present?

= link_to 'Edit', edit_book_path(@book)
\|
= link_to 'Back', books_path
