%p
  %b= "#{Book.human_attribute_name(:title)}:"
  = @book.title
%p
  %b= "#{Book.human_attribute_name(:memo)}:"
  = @book.memo
%p
  %b= "#{Book.human_attribute_name(:author)}:"
  = @book.author
%p
  %b= "#{Book.human_attribute_name(:picture)}:"
  = image_tag @book.picture_url if @book.picture.present?

= link_to t('nav.edit'), edit_book_path(@book)
\|
= link_to t('nav.back'), books_path
