- i18n_devise_scope = 'devise.mailer.reset_password_instructions'

%p
  = t('greeting', scope: i18n_devise_scope, recipient: @resource.email)
%p
  = t('instruction', scope: i18n_devise_scope)
%p
  = link_to t('action', scope: i18n_devise_scope), edit_password_url(@resource, reset_password_token: @token)
%p
  = t('instruction_2', scope: i18n_devise_scope)
%p
  = t('instruction_3', scope: i18n_devise_scope)
